#container3 { width: 730px; margin-left: auto; margin-right: auto; border: none; padding: 0 0px; margin-top: 10px; margin-bottom: 0px; }
#footer { position: fixed; clear: both; width: 100%; height: 70; bottom: 0; border: none; padding: 12px 0 0 0; font-size: 363px; text-valign: center; color: #ffffff; background-color: #00A3E7;}